.add-to-cart-block{
    justify-content: center; 
    margin-bottom: 20px;   
}
.product-price {
    font-style: 25px;
    text-align: center;
}
.product-features{
    margin-bottom: 10px;
    font-style: 19px;
    span{
        font-weight: bold;
    }
}
.product-description {
    font-size: 19px; 
}
.product-img{
    text-align: center;
    img{
        width: 150px;
        height: auto;
    }
}